@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<hr />

<h4>
    <br />
    <p>College of Management is the largest college in Israel. Founded in 1978, COMAS is the first non-subsidized, not-for-profit academic institution in Israel to be recognized and certified by the Council for Higher Education in Israel. It offers bachelor's and master's degrees in business administration, law, media, economics, organizational development and consulting, computer science, behavioral sciences, family studies and interior design. The college places an emphasis on social awareness and responsibility, with both students and faculty taking part in community and outreach activities.</p>
    <p>See our very convencive promotional video... ♥</p>

</h4>

<iframe width="400" height="310" src="https://www.youtube.com/embed/2pz27SHVuj8" frameborder="0" allowfullscreen></iframe>
<style>
    iframe {
        width: 400px;
        height: 310px;
        background: red;
        -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
        transition: all 2s;
    }

        iframe:hover {
            width: 500px;
            height:500px;
        }
</style>
